<template name="home">
  <h3>Welcome to Flint!</h3>
  <p>This is just a dev environment. Eventually, this website will actually do things.</p>
  <!--
    <button class="btn" id="btn-user-data">Get User Data</button>
    <pre id="result"></pre>
  -->
  <button class="btn" id="btn-user-friends">Find friends on Flint</button>

  <!--
  <form id="search">
    <fieldset>
      <label>Search for a friend to match: </label><input type="input" id="searchbox" />
    </fieldset>
  </form>
  -->
</template>

